info:
  component: Edge Server


zuul:
  prefix: /api
  routes:
    movie: 
      path: /movie/**
      serviceId: movie-service
    user: 
      path: /user/**
      serviceId: user-service          

  
#    account: 
#      path: /account/**
#      serviceId: account-service
#    customer: 
#      path: /customer/**
#      serviceId: customer-service          

ribbon:
  eureka:
    enabled: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    registerWithEureka: false
      
server:
  port: 8765

logging:
  level:
    ROOT: INFO
    org.springframework.web: DEBUG

spring:
  application:
    name: gateway-server    